/DTM5/
/TIF/
/CURVE-SHP/
/CURVE-SHP_REGIONE/
/DTM_REGIONE/
/DTM_SEZIONE/
/OMBRE_REGIONE/
/OMBRE_SEZIONE/
/CURVE-IMG/
/CURVE-OSM/
/stile_garmin/curve_licenza.txt
/stile_garmin/Typ/1811.TYP
/stile_garmin/Typ/curve.typ
